.hide {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
*,
::after,
::before {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}

.section {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;
  outline-offset: -2px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header-logo {
  /* margin-right: 76px; */
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0 16px;
}

@media screen and (min-width: 768px) {
  .header-logo {
    padding: 24px 0 24px;

    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .header-nav {
  }
}

@media screen and (min-width: 1158px) {
  .header-nav {
  }
}

.logo-studio {
  color: #2e2f42;
}
.container-header {
  display: flex;
  align-items: center;
}
.menu-nav {
  display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 767.98px) {
  .menu-nav {
    display: none;
  }
}

.nav {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav:hover,
.nav:focus,
.nav.current {
  color: #404bbf;
  position: relative;
}
.nav.current:after {
  width: 48px;
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

/* address */
.contact-address {
  display: flex;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .contact-address {
    display: inline-block;
  }
}
@media screen and (min-width: 1158px) {
  .contact-address {
    display: flex;
  }
}
@media only screen and (max-width: 767.98px) {
  .contact-address {
    display: none;
  }
}
.contact {
  font-style: normal;
  margin-left: auto;
}

.contact-item :last-child {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .contact-address .contact-item:not(:last-child) {
    margin-bottom: 12px;
  }
}
.contact-link {
  /* font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
@media screen and (min-width: 768px) {
  .contact-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* main  section button*/
.main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-color: #2e2f42;
  /* padding: 188px 0; */
  /* padding-top: 72px;
  padding-bottom: 200px; */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-container {
  padding-top: 72px;
  padding-bottom: 200px;
}
@media screen and (min-width: 768px) {
  .main-container {
    padding-top: 112px;
    padding-bottom: 204px;
  }
}
@media screen and (min-width: 1158px) {
  .main-container {
    padding: 188px 0;
  }
}

.main-title {
  max-width: 288px;
  /* max-width: 496px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px; /* margin-bottom: 48px; */
  font-size: 36px; /* font-size: 56px; */
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-weight: 700;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .main-title {
    max-width: 496px;
    font-size: 56px;
    text-transform: none;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .main-title {
    margin-bottom: 48px;
  }
}

.button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* section 2 Features */
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  gap: 24px;
}
.icon-item {
  display: flex;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-caption {
  display: flex;
  gap: 24px;
}
.caption-item {
  width: calc((100% - 72px) / 4);
}
.caption {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* 3section ovr team */
.img {
  background-color: #f4f4fd;
}
.caption-img {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: 700;
}
.people {
  padding-top: 32px;
  padding-bottom: 32px;
}

.caption-people {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text-people {
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-networks {
  width: 40px;
  height: 40px;
}
.networks {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks:hover,
.networks:focus {
  background-color: #404bbf;
}
.icon-networks {
  fill: #f4f4fd;
}

/* 3-section - People*/
.bloc-img {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .bloc-img {
    gap: 64px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .bloc-img {
    gap: 24px;
  }
}

.list-img {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .list-img {
    width: calc((100% - 24px * 1) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .list-img {
    width: calc((100% - 24px * 3) / 4);
  }
}

/* 4-section Portfolio*/

.way {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
@media screen and (min-width: 768px) {
  .way {
    gap: 72px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .way {
    gap: 48px 24px;
  }
}

.way-item {
  /* width: calc((100% - 48px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .way-item {
    width: calc((100% - 24px * 1) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .way-item {
    width: calc((100% - 24px * 3) / 3);
  }
}

.caption-image {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.way-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.info {
  position: relative;
  overflow: hidden;
}
.info-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.way-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.way-item:hover .info-text {
  transform: translateY(0%);
}

/* footer */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.container-logo {
  margin-right: 120px;
  /* margin-left: 156px; */
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-footer-studio {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.info-svg {
  display: flex;
  gap: 16px;
}

.footer-info-svg {
  width: 40px;
  height: 40px;
}
.footer-info-svg :hover,
.footer-info-svg :focus {
  background-color: #31d0aa;
}

.icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-networks {
  fill: #f4f4fd;
}
/* footer form */
.footer-form {
  margin-left: 80px;
}
.footer-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-mail-form {
  display: flex;
  gap: 24px;
}
.mail-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.footer-mail-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer-mail-icon {
  margin-left: 16px;
}
/* backdrop */
.backdrop {
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
/* modal window */
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-icon-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.field {
  margin-bottom: 8px;
}
.field-textarea {
  margin-bottom: 16px;
}
.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.form-field {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-input:focus + .form-icon {
  fill: #4d5ae5;
}
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-message {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-message:focus {
  border-color: #4d5ae5;
}
/* CHECKBOX */
.form-chekbox {
  margin-bottom: 24px;
}
.form-list {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-list-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox:checked + .form-list-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.checkbox:checked + .form-list > .form-list-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.form-link {
  color: #4d5ae5;
}
.btn-form {
  margin: 24px auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Burger menu btn */
.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: 1px solid #e7e9fc;
}
@media only screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 72px 24px 40px 16px;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 1, 1);
}
.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu .mob-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #e7e9fc;
  border-radius: 50%;
}
.mob-btn-icon {
}
.mob-menu-list .mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-list {
  margin-bottom: auto;
}
.mob-menu-item {
}
.mob-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mob-menu-link.current {
  color: var(--OCEAN, #404bbf);
}
.mob-contacts-menu {
  margin-bottom: 48px;
}
.mob-contacts-menu .mobile-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-contacts-item {
  color: var(--SLATE, #434455);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mobile-contacts-item .accent {
  color: var(--IRIS, #4d5ae5);
}
.mobile-menu-social {
  gap: 40px;
}
.social {
}
.social-networks {
}
.networks {
}
.icon-networks {
}
